[user]
	email = josh@joshuahoeflich.com
	name = Joshua Hoeflich

[alias]
	co = checkout
	sl = log --pretty=format:'%C(bold cyan)%h%Creset -%C(white)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit -n 10
	b  = branch

[core]
	excludesfile = /home/joshua/.gitignore_global
