#!/bin/sh
eval "$(ssh-agent -s)"
LOCALPATH=$HOME/.local
export EDITOR='emacs'
export GOPATH=$HOME/go
export INFRAPATH=$HOME/github/joshuahoeflich/infrastructure
export PATH=$LOCALPATH/bin:$LOCALPATH/scripts:$INFRAPATH/bin:$GOPATH/bin:$PATH
export ZDOTDIR=$HOME/.config/zsh
